<div id="container">

<h3>Name: <%= @lender.first_name %></h3>
<h3>Account Balance: $<%= @lender.money %></h3>

<h3>List of People in Need of Help</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Need Money For</th>
				<th>Reason for Loan</th>
				<th>Amount Needed</th>
				<th>Amount Raised</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @borrowers.each do |borrower| %>
				<tr>
					<td><%= borrower.first_name %> <%=borrower.last_name %></td>
					<td><%= borrower.purpose %></td>
					<td><%= borrower.description %></td>
					<td>$<%= borrower.money %></td>
					<td>$<%= borrower.raised %></td>
					<td>  
						<form action="/lenders" method="post">
    						<%=token_tag nil %>
    						<input type="hidden" name="_method" value="patch">
							<input type="hidden" name="borrower_id" value="<%= borrower.id %>">
								<select name="amount" size="1">
									  <option value="100">$100</option>
									  <option value="500">$500</option>
									  <option value="100">$1,000</option>
								</select>
							<button type="submit" value="submit">Lend</button> 
						</form>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<hr>
<h3>List of People You Lent Money To</h3>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Need Money For</th>
				<th>Reason for Loan</th>
				<th>Amount Needed</th>
				<th>Amount Raised</th>
				<th>Amount Lent</th>
			</tr>
		</thead>
		<tbody>
			<% @history.each do |history| %>
				<tr>
					<td><%= history.borrower.first_name %> <%= history.borrower.last_name %></td>
					<td><%= history.borrower.purpose %></td>
					<td><%= history.borrower.description %></td>
					<td><%= history.borrower.money %></td>
					<td><%= history.borrower.raised %></td>
					<td><%= history.amount %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

<a href="sessions/delete">Log Out</a>
</div>